<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.fashionbrot.funds.mapper.FundMapper">


    <resultMap type="com.github.fashionbrot.funds.entity.FundEntity" id="fundMap">
            <result property="id" column="id"/>
            <result property="fundCode" column="fund_code"/>
            <result property="fundName" column="fund_name"/>
            <result property="fundSourceRate" column="fund_source_rate"/>
            <result property="fundRate" column="fund_Rate"/>
            <result property="fundMinsg" column="fund_minsg"/>
    </resultMap>

    <resultMap type="com.github.fashionbrot.funds.dto.FundDTO" id="fundDtoMap">
            <result property="id" column="id"/>
            <result property="fundCode" column="fund_code"/>
            <result property="fundName" column="fund_name"/>
            <result property="fundSourceRate" column="fund_source_rate"/>
            <result property="fundRate" column="fund_Rate"/>
            <result property="fundMinsg" column="fund_minsg"/>
    </resultMap>
    <sql id="allSql">
        id,fund_code,fund_name,fund_source_rate,fund_Rate,fund_minsg
    </sql>

    <resultMap type="com.github.fashionbrot.funds.entity.FundEntity" id="fundMap2">
        <result property="fundCode" column="fund_code"/>
        <result property="fundName" column="fund_name"/>
        <collection property="valuationList" ofType="com.github.fashionbrot.funds.entity.FundValuationEntity">
            <result property="fundCode" column="fund_code"/>
            <result property="equityReturn" column="equity_return"/>
        </collection>
    </resultMap>

    <select id="pageList" parameterType="com.github.fashionbrot.funds.req.FundReq" resultMap="fundMap2">

    </select>
    

</mapper>