<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.fashionbrot.funds.mapper.FundStockMapper">


    <resultMap type="com.github.fashionbrot.funds.entity.FundStockEntity" id="fundStockMap">
            <result property="id" column="id"/>
            <result property="fundId" column="fund_id"/>
            <result property="stockCode" column="stock_code"/>
            <result property="stockName" column="stock_name"/>
    </resultMap>

    <resultMap type="com.github.fashionbrot.funds.dto.FundStockDTO" id="fundStockDtoMap">
            <result property="id" column="id"/>
            <result property="fundId" column="fund_id"/>
            <result property="stockCode" column="stock_code"/>
            <result property="stockName" column="stock_name"/>
    </resultMap>
    <sql id="allSql">
        id,fund_id,stock_code,stock_name
    </sql>

    

</mapper>